<launch>
  <!-- ROSCORE -->
  <master auto="start"/>

  <!-- Autonomous Enable Button -->
  <node pkg="auto_enable_button" type="controller.py" name="auto_enable_button" output="screen" />

  <!-- CAN Bus -->
  <!--<include file="$(find can_bus)/launch/can_bus.launch" />-->


  <!-- GPS -->
  <include file="$(find novatel_span_driver)/launch/novatel_gps.launch" />
  <node pkg="bolt" type="gps_converter.py" name="gps_converter" output="screen" />
  <node pkg="topic_tools" type="relay" name="topic_tools_relay" args="/navsat/odom /odom" />

  <!-- Visual Helpers -->
  <node pkg="bolt" type="sphere_waypoint_visuals.py" name="waypoint_visuals_node" />

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz_visual" output="screen" args="-d /home/autodrive/Desktop/catkin_ws/src/bolt/cfg/Visuals.rviz" />

  <!-- Waypoint Planning -->
  <!--<node pkg="waypoint_planning" type="planner.py" name="waypoint_planning" output="screen" />-->

  <!-- Vehicle Controller -->
  <!--<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="controller_configure" />-->
  <!--<node pkg="combined_controller" type="combined_controller_node" name="combined_controller" />-->
  <!--<node pkg="combined_controller" type="velocity_node" name="velocity_node" output="screen"/>-->

  <!-- Piksi -->
  <node pkg="swiftnav_ros" type="swiftnav_ros_node" name="swiftnav_ros_node" output="screen">
    <param name="port" value="/dev/ttyUSB0" />
  </node>
  
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
     <rosparam command="delete" param="/diagnostic_aggregator" />
     <rosparam command="load" file="$(find swiftnav_ros)/config/swiftnav_ros_diag.yaml" />
  </node>


</launch>
