<launch>
  <!-- ROSCORE -->
  <master auto="start"/>

  <!-- Autonomous Enable Button -->
  <node pkg="auto_enable_button" type="controller.py" name="auto_enable_button" output="screen" />

  <!-- CAN Bus -->
  <!--<include file="$(find can_bus)/launch/can_bus.launch" />-->

  <!-- GPS -->
  <include file="$(find novatel_gps)/launch/novatel_gps.launch" />
  <node pkg="bolt" type="gps_converter.py" name="gps_converter" output="screen" />
  <node pkg="topic_tools" type="relay" name="topic_tools_relay" args="/navsat/odom /odom" />

  <!-- Visual Helpers -->
  <node pkg="bolt" type="sphere_waypoint_visuals.py" name="waypoint_visuals_node" />

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz_visual" output="screen" args="-d /home/autodrive/Desktop/catkin_ws/src/follower_car_test/rviz_config.rviz" />
  <node pkg="rviz" type="rviz" name="rviz_visual_waypoints" output="screen" args="-d /home/autodrive/Desktop/catkin_ws/src/bolt/cfg/Visual.rviz" />

</launch>
